[Unit]
Description=ExampleApp [devgru-server]
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=dgserv
WorkingDirectory=/dgserv/exampleapp
ExecStart=/dgserv/exampleapp/dgserv-exampleapp
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
